/*Main styles*/
body{
    margin: 0 auto;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 14.4px;
    line-height: 208%;
    letter-spacing: 2px;
}
.wrapper{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-height: 100%;
}
[class*="__container"]{
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
[class*="_pink"]{
    color: #F61067;
}
[class*="_white"]{
    color: #FCFCFC;
}
[class*="_darkblue"]{
    color: #30233D;
}
[class*="_active"]{
    opacity: 100%;
}
[class*="_unactive"]{
    opacity: 80%;
}
[class*="_active"]:after{ content: "";
    background-color: #F4F4ED;
    width: 100%;
    height: 2px;
    display: block;
}
ul{
    list-style-type: none;
    padding: 0;
}

/*navbar*/
nav{
        background-color: #FCFCFC;
}
.navbar__container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar__logo{
    font-weight: 900;
    font-size: 24px;
    line-height: 178%;
    flex: 0 0 10%;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 40%;
}
.navbar__item{
    margin-left: 25px;
}
.navbar__link{
    font-weight: 800;
    line-height: 208%;
}

.navbar__phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 20%;
}
.navbar__button{
    width: 54px;
    height: 32px;
    background-color: transparent;
    border-color: transparent;
    display: flex;
    flex-wrap: wrap;
}
.navbar__button_long{
    width: 100%;
    height: 2px;
    background-color: #30233D;
}
.navbar__button_short{
    width: 67%;
    height: 2px;
    background-color: #30233D;
    margin-left: auto;
}

/*header*/
header{
    background-size: cover;
    background-image: 
    linear-gradient(90deg, rgba(94, 35, 157, 0.40) 100%, #5E239D 0%),
    url(images/header/headerContact.png);
}
.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header__headline{
    flex: 0 0 61%;
}
.headline__title{
    font-weight: 500;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0;
}
.headline__text{
    font-weight: 800;
    font-size: 18px;
    line-height: 208%;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 0;
}
/*contact*/
    .img-contact{
        position: absolute;
        right: 0;
        z-index: 2;
    }
    .contact__info{
        padding-top: 150px;
        padding-bottom: 350px;
    }
    .contact__info:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-repeat: no-repeat;
        background-image: url(images/contact/background-icon.png);
        z-index: 2;
    }
    .headtext-contact__info{
        font-weight: 500;
        font-size: 27px;
        line-height: 100%;
        letter-spacing: 0;
        margin-top: 0;
    }
    .contact__list{
        width: 50%;
    }
    .item-contact__list{
        display: flex;
        gap: 10%;
        align-items: start;
    }
    .icon-contact__list{
        object-fit: none;
    }
    .contact__subtexts{
        margin-bottom: 50px;
    }
    .head-contact__list{
        font-weight: 800;
        font-size: 18px;
        line-height: 208%;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-top: 0;
    }
    .text-contact__subtexts{
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        letter-spacing: 0;
        color: #776C82;
        margin-top: 0;
        margin-bottom: 0;
    }

/*form*/
    .form:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 497px;
        left: 0;
        transform: translateY(35.8%);
        background-color: #30124E;
        z-index: 1;
    }
    .form__container{
        background-color: #150433;
        z-index: 3;
        position: relative;
    }
    .form__content{
        padding: 50px 75px;
    }
    .form__inputs{
        display: flex;
        justify-content: center;
        gap: 5%;

    }
    .headtext-form{
        font-weight: 500;
        font-size: 27px;
        line-height: 100%;
        letter-spacing: 0;
        width: 100%;
        margin: 30px 0;
    }
    .form__contacts{
        flex: 0 0 25%;
    }
    .text-form__contacts{
        font-weight: 800;
        font-size: 12.6px;
        line-height: 208%;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    .input-form__contacts{
        font-weight: 400;
        font-size: 16.2px;
        line-height: 163%;
        letter-spacing: 0;
        vertical-align: middle;
        padding-left: 10px;
        border: 1px solid #F4F4ED;
        width: 100%;
        height: 52px;
    }

    .form__comments{
        flex: 0 0 70%;
    }
    .text-form__comments{
        font-weight: 800;
        font-size: 12.6px;
        line-height: 208%;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    .input-form__comments{
        font-weight: 400;
        font-size: 16.2px;
        line-height: 163%;
        letter-spacing: 0;
        vertical-align: middle;
        padding-left: 10px;
        border: 1px solid #F4F4ED;
        width: 100%;
        height: 100%;
        max-height: 270px;
    }
    .form__button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F61067;
        border-radius: 36px;
        border-color: transparent;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        height: 56px;
        width: 215px;
    }
    .text-form__button{
        font-weight: 500;
        font-size: 13.5px;
        line-height: 100%;
        letter-spacing: 2px;
        vertical-align: middle;
        text-transform: uppercase;
    }
/*footer*/
    footer{
        background-color: #150433;
    }
    .footer__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer__logo{
        flex: 0 0 15%;
    }
    .footer__info{
        flex: 0 0 75%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__navigaton{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        flex: 0 0 30%;
    }
    .footer__websocial{
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 60%;
        gap: 10%;
    }
    .footer__menu{
        flex: 0 0 30%;
    }
    .footer__services{
        flex: 0 0 60%;
    }
    .footer__contacts{
        flex: 0 0 35%;
    }
    .footer__follow{
        flex: 0 0 55%;
    }
    .footer__headtext{
        font-weight: 800;
        font-size: 12.6px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    .footer__headtext:after{ content: "";
        display: block;
        height: 2px;
        background-color: #F61067;
        width: 80%;
    }
    .footer__contact{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    .footer__icons{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 25px;
    }
    .footer__footnote{
        margin-top: 75px;
        font-weight: 400;
        font-size: 11.7px;
        line-height: 163%;
        letter-spacing: 0;
        flex: 0 0 100%;
    }
/*Width-resize for different screens*/ 
@media (max-width: 1170px){
    [class*="__container"]{
    width: 970px;
    }
    /*navbar*/
    .navbar__phone{
        flex: 0 0 25%;
    }
    /*contact*/
    .img-contact{
        width: 50%;
        background-size: cover;
    }
    .contact__info{
        padding-bottom: 100px;
    }
}
@media (max-width: 991.98px){
    [class*="__container"]{
    width: 740px;
    }
    /*navbar*/
    .navbar__phone{
        flex: 0 0 30%;
    }
    /*contact*/
    .img-contact{
        display: none;
    }
    .contact__list{
        width: 100%;
    }
    
}
@media (max-width: 767.98px){
    [class*="__container"]{
        width: 490px;
    }
    /*navbar*/
    .navbar__phone{
        display: none;
    }
    .navbar__list{
        flex: 0 0 60%;
    }
    /*form*/
    .form__inputs{
        display: block;
    }
    .form__comments{
        height: 52px;
    }
    .form:before{
            transform: translateY(46.3%);
    }
}
@media (max-width: 519.98px){
    [class*="__container"]{
        width: 330px;
    }
    /*navbar*/
    .navbar__phone,.navbar__list{
        display: none;
    }
    /*form*/
    .form:before{
            transform: translateY(51.5%);
    }
    /*footer*/
    .footer__container{
        display: block;
        padding-top: 50px;
    }
    .footer__follow{
        flex: 0 0 65%;
    }
    .footer__icons{
        flex-wrap: wrap;
    }
    .footer__headtext{
        margin-top: 0;
    }
}
