/*Main styles*/
body{
    margin: 0 auto;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 14.4px;
    line-height: 208%;
    letter-spacing: 2px;
}
.wrapper{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-height: 100%;
}
[class*="__container"]{
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
[class*="_darkblue"]{
    color: #30233D;
}
[class*="_pink"]{
    color: #F61067;
}
[class*="_white"]{
    color: #FCFCFC;
}
[class*="_active"]{
    opacity: 100%;
}
[class*="_unactive"]{
    opacity: 80%;
}
[class*="_active"]:after{ content: "";
    background-color: #F4F4ED;
    width: 100%;
    height: 2px;
    display: block;
}
ul{
    list-style-type: none;
    padding: 0;
}

/*navbar*/
nav{
    background-color: #FFFFFF;
}
.navbar__container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar__logo{
    font-weight: 900;
    font-size: 24px;
    line-height: 178%;
    flex: 0 0 10%;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 40%;
}
.navbar__item{
    margin-left: 25px;
}
.navbar__link{
    font-weight: 800;
    line-height: 208%;
}

.navbar__phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 20%;
}
.navbar__button{
    width: 54px;
    height: 32px;
    background-color: transparent;
    border-color: transparent;
    display: flex;
    flex-wrap: wrap;
}
.navbar__button_long{
    width: 100%;
    height: 2px;
    background-color: #30124E;
}
.navbar__button_short{
    width: 67%;
    height: 2px;
    background-color: #30124E;
    margin-left: auto;
}

/*header*/
header{
    background-size: cover;
    background-image: 
    linear-gradient(90deg, rgba(94, 35, 157, 0.40) 100%, #5E239D 0%),
    url(images/header/headerServices.png);
}
.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header__headline{
    flex: 0 0 61%;
}
.headline__title{
    font-weight: 500;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0;
}
.headline__text{
    font-weight: 800;
    font-size: 18px;
    line-height: 208%;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 0;
}


/*intro*/
.intro__container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.intro__texts{
    text-align: center;
    width: 67.5%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.intro__text_small{
    font-weight: 800;
    font-size: 12.6px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.intro__text_big{
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 0;

}
.intro__text_normal{
    font-weight: 800;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0;

}
/*team*/
.team:before{ content:"";
    transform: translateY(45%);
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 135%;
    background-color: #150433;
    z-index: -1;
}
.team__container{
    padding-bottom: 150px;
}
.team__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}
.team__card{
    width: 267px;
    margin-bottom: 75px;
}
.image-team__card{
    width: 100%;
    max-width: 267px;
}
.name-team__card{
    font-weight: 800;
    font-size: 21.6px;
    line-height: 163%;
    letter-spacing: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.post-team__card{
    font-weight: 800;
    font-size: 12.6px;
    line-height: 208%;
    letter-spacing: 6px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.team__icons{
    display: flex;
    justify-content: center;
    gap: 15%;
}
/*testimorials*/
    .testimorials{
        background-color: #FCFCFC;
    }
    .testimorials__container{
        padding-bottom: 75px;
    }
    .testimorials__photos{
        position: relative;
        height: 350px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .photo-testimorials_head,.photo-testimorials1, .photo-testimorials2, .photo-testimorials3, .photo-testimorials4, .photo-testimorials5, .photo-testimorials6, .photo-testimorials7, .photo-testimorials8{
        position: absolute;
    }
    .photo-testimorials1{
        right: -10%;
    }
    .photo-testimorials2{
        left: -10%;
        bottom: -25%;
    }
    .photo-testimorials3{
        left: 2%;
        top: 10%;
    }
    .photo-testimorials4{
        left: 65%;
        top:  45%;
    }
    .photo-testimorials5{
        right: 8%;
        top: 20%;
    }
    .photo-testimorials6{
        left: 17%;
        top: 50%;
    }
    .photo-testimorials7{
        right: -10%;
        bottom: -10%;
    }
    .photo-testimorials_head{
        transform: translate(75%, -35%);
        width: 100%;
        max-width: 460px;
        max-height: 460px;
    }
    .photo-testimorials8{
        left: 46.5%;
        z-index: 2;
        bottom: 0;
    }
    .testimorials__comments{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .testimorials__texts{
        flex: 0 0 70%;
        text-align: center;
    }
    .item-intro__comment_large{
        font-family: "Noticia Text", serif;
        font-weight: 400;
        font-style: italic;
        font-size: 36px;
        line-height: 177%;
        letter-spacing: 0;
        text-align: center;
    }
    .testimorials__button{
        border-radius: 100%;
        border: 1px solid #F61067;
        width: 36px;
        height: 36px;
    }
    .item-testimorials__author{
        font-weight: 800;
        font-size: 18px;
        line-height: 163%;
        letter-spacing: 0;
        text-align: center;
    }
/*newsletter*/
    .newsletter__container{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .newsletter__texts{
        margin: 0 auto;
    }
    .head-newsletter{
        font-weight: 500;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
    }
    .subtext-newsletter{
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        color:#776C82;
    }
    .newsletter__form{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .input-newsletter{
        border-color: rgba(244, 244, 237, 1);
        border-width: 0 0 3px 0;
        width: 227px;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #9B94A3;
        height: 49.5px;
    }
    .button-newsletter{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-color: #F4F4ED;
        border-width: 0 0 3px 0;
        background:  linear-gradient(180deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        width: 227px;
        height: 54px;
        align-items: center;
    }
    .text-newsletter{
        font-weight: 800;
        font-size: 12.6px;
        letter-spacing: 6px;
        vertical-align: middle;
        text-transform: uppercase;
        width: 75%;
    }
    .item-newsletter__background{
        width: 27px;
        height: 27px;
        border-radius: 100%;
        align-items: center;
        background-color: rgba(246, 16, 103, 0.02);
        border: 1px solid rgba(246, 16, 103, 0.5);
        display: flex;
        justify-content: center;
    }
/*footer*/
    footer{
        background-color: #150433;
    }
    .footer__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer__logo{
        flex: 0 0 15%;
    }
    .footer__info{
        flex: 0 0 75%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__navigaton{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        flex: 0 0 30%;
    }
    .footer__websocial{
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 60%;
        gap: 10%;
    }
    .footer__menu{
        flex: 0 0 30%;
    }
    .footer__services{
        flex: 0 0 60%;
    }
    .footer__contacts{
        flex: 0 0 35%;
    }
    .footer__follow{
        flex: 0 0 55%;
    }
    .footer__headtext{
        font-weight: 800;
        font-size: 12.6px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    .footer__headtext:after{ content: "";
        display: block;
        height: 2px;
        background-color: #F61067;
        width: 80%;
    }
    .footer__contact{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    .footer__icons{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 25px;
    }
    .footer__footnote{
        margin-top: 75px;
        font-weight: 400;
        font-size: 11.7px;
        line-height: 163%;
        letter-spacing: 0;
        flex: 0 0 100%;
    }
/*Width-resize for different screens*/ 
@media (max-width: 1170px){
    [class*="__container"]{
    width: 970px;
    }
    /*navbar*/
    .navbar__phone{
        flex: 0 0 25%;
    }
     /*header*/
    .header__subheader{
        flex: 0 0 60%;
    }
    .header__subheader:before{ content: "";
        width: 70%;
        transform: translate(-15%, 0);
    }
     /*team*/
   .team:before{ content:"";
        height: 215%;
        transform: translateY(30%);
   }
    /*testimorials*/
    .photo-testimorials_head{
        transform: translate(57.5%, -35%);
    }
}
@media (max-width: 991.98px){
    [class*="__container"]{
    width: 740px;
    }
    /*navbar*/
    .navbar__phone{
        flex: 0 0 30%;
    }
    /*team*/
   .team:before{ content:"";
    height: 225%;
   }
    /*clients*/
    .clients__container{
        padding-top: 0;
    }
    .clients__row{
        display: block;
    }
    .clients__textcolumn{
        width: 80%;
    }
    .clients__textcolumn:before{
        height: 415px;
        width: 110%;
    }
    /*sections*/
    .section__container{
        padding-bottom: 200px;
        padding-top: 100px;
    }
    /*testimorials*/
    .photo-testimorials1,.photo-testimorials2, .photo-testimorials3,.photo-testimorials4, .photo-testimorials5,.photo-testimorials6, .photo-testimorials7{
        display: none;
    }
    .photo-testimorials_head{
        transform: translate(35%, -35%);
    }
    
}
@media (max-width: 767.98px){
    [class*="__container"]{
        width: 490px;
    }
    /*navbar*/
    .navbar__phone{
        display: none;
    }
    .navbar__list{
        flex: 0 0 60%;
    }
     /*team*/
   .team:before{ content:"";
        height: 500%;
        transform: translateY(20%);
   }
    /*testostimorials*/
    .photo-testimorials1,.photo-testimorials2, .photo-testimorials3,.photo-testimorials4, .photo-testimorials5,.photo-testimorials6, .photo-testimorials7{
        display: none;
    }
    .photo-testimorials_head{
        transform: translate(5%, -35%);
    }
    .photo-testimorials8{
        left: 42.5%;
    }
}
@media (max-width: 519.98px){
    [class*="__container"]{
        width: 330px;
    }
    /*navbar*/
    .navbar__phone,.navbar__list{
        display: none;
    }
    /*intro*/
    .item-intro{
        flex: 1 0 100%;
    }
    .intro__texts{
        flex: 1 0 100%;
    }
    /*clients*/
    .clients__container{
        margin-top: 175px;
    }
    .clients__textcolumn:before{
        height: 590px;
    }
    .clients__logocolumn{
        justify-content: center;
    }
    /*testimorials*/
    .photo-testimorials1,.photo-testimorials2, .photo-testimorials3,.photo-testimorials4, .photo-testimorials5,.photo-testimorials6, .photo-testimorials7{
        display: none;
    }
    .photo-testimorials8{
        left: 37.5%;
    }
    .photo-testimorials_head{
        transform: translate(0, -25%);
    }
    /*newsletter*/
    .newsletter__form{
        flex-wrap: wrap;
    }
    /*footer*/
    .footer__container{
        display: block;
        padding-top: 50px;
    }
    .footer__follow{
        flex: 0 0 65%;
    }
    .footer__icons{
        flex-wrap: wrap;
    }
    .footer__headtext{
        margin-top: 0;
    }
}